<h1>Szakest</h1>
<div class="form-group">
<img src="/Public/Images/van-programod-estre-ha-nincs-gyere-informatikus-szakestre.jpg" class="img-fluid" alt="Responsive image">
</div>
<p class="form-group">
    <a href="?action=signup" class="btn btn-primary">Ott leszek!</a>
</p>