<h1>Ott leszek!</h1>
<?php echo $_SESSION['errorMsg']; ?>
<div class="d-flex justify-content-center align-items-center container ">

    <div class="row ">

        <form method="post" action="?action=signup">
            <div class="form-group">
                <label for="nameInput">Név:</label>
                <input type="text" class="form-control" id="nameInput" name="name" placeholder="Kis Béla" required>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">E-mail cím:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email"
                       required>
            </div>

            <div class="form-group">
                <label for="nameInput">Kor:</label>
                <input type="number" min="18" max="99" class="form-control" id="ageInput" name="age" required>
            </div>

            <div class="form-group">
                <label for="nameInput">Nem:</label>

                <div class="radio">
                    <label><input type="radio" value="Ferfi" name="gender">Férfi</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="No" name="gender">Nő</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="apache helikopter" name="gender">Apache helikopter</label>
                </div>
            </div>

            <div class="form-group">
                <label for="semester">Szemeszter</label>
                <select class="form-control" id="semester">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
            </div>

            <div class="form-group">
                <label for="description">Írj valamit magadról:</label>
                <textarea class="form-control" rows="5" id="description" name="description"
                          placeholder="Mit iszol?"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Regisztrálok</button>
        </form>
    </div>
</div>

