<h1>Success sign up!</h1>


<p>Sikeres regisztráció. Merre tovább? </p>
<div class="row">
    <p class="col-sm-3">
        <a href="?action=users" class="btn btn-primary">Már jelentkezettek.</a>
    </p>
    <p class="col-sm-5">
        <a href="?action=signup" class="btn btn-primary">Még valaki?</a>
    </p>
</div>