<h1>Üzenj a többieknek!</h1>

<?php if (isset($msg)) echo $msg; ?>

<form method="post" action="?action=userMail">
    <div class="form-group">
        <label for="message">Körlevél:</label>
        <textarea class="form-control" rows="5" id="text" name="message"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Elküld</button>
</form>