<h1>Regisztráltak</h1>
<?php if (isset($msg)) echo $msg; ?>


<div class="row">
    <div class="alert alert-primary">Kíváncsi vagy kik lesznek jelen? Az alábbi listában megtalálod.
    </div>
</div>

<table class="table table-hover">
    <thead>
    <?php foreach ($users as $userItems): ?>
        <tr>
            <?php foreach ($userItems as $fieldName => $value): ?>
                <td><?php echo $fieldName; ?></td>
            <?php endforeach; ?>
            <td>Törlés</td>
        </tr>
        <?php break; ?>
    <?php endforeach; ?>
    </thead>
    <tbody>
    <?php foreach ($users as $userItems): ?>
        <tr>
            <?php foreach ($userItems as $fieldName => $value): ?>
                <td><?php if (isset($translateValues[$fieldName]) && isset($translateValues[$fieldName][$value])) {
                        echo $translateValues[$fieldName][$value];
                    } else {
                        echo $value;
                    } ?></td>
            <?php endforeach; ?>
            <td><a onclick="getUserDeletePassword(event);" href="?action=delete&userID=<?php echo $userItems['id']; ?>">X</a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
