<html lang="hu">
<head>
    <title>Szakest</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="description" content="Szakest">
    <meta name="author" content="Tamás Kőfejű">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/Public/Icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Public/Icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Public/Icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Public/Icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Public/Icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Public/Icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Public/Icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Public/Icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Public/Icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/Public/Icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Public/Icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Public/Icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Public/Icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/?action=home">Szakest</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/?action=users">Regisztráltak <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/?action=signup">Ott leszek</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/?action=userMail">Körlevél</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
